.finalNosotros{
    margin-top: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
    .pie{
        background-color: #EE9494;
        text-align: center;
    a{
            text-decoration: none;
            color: #564a4a;
            font-weight: bolder;
        }
    }
      
$redes: (
    whatsapp: #48c96f,
    facebook:  #3a5795
); 

@each $red, $color in $redes {
.#{$red} {
   background-color: $color;
   color: #ffff;
   border: 1px solid black;

}
}

$formas: (
    tFuente: 15px,
    
);

.whatsapp{
    font-size: map-get($formas, tFuente )
}

.facebook{
    font-size: map-get($formas, tFuente )
}

.orden2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 5px;
    padding-right: 5px;
}

.orden3{
    margin-left: 15px;
}




