.finalNosotros{
    margin-top: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
    .pie{
        background-color: #EE9494;
        text-align: center;
    a{
            text-decoration: none;
            color: #564a4a;
            font-weight: bolder;
        }
    }
