.navegacion{
    background-color: #8CBA51;
}
.menu li{
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 10px 10px;
a{
    text-decoration: none;
    color: #564a4a;
    font-weight: bolder;
}
&:hover ul{
    display: block;
    background-color: #8CBA51;
}
}
.submenu{
    display: none;
    position: absolute;
    font-weight: bolder;
    color: #564a4a;
li{
    display: block;
}
}
